<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">CameraViewer</h1>
        <p class="lead" jhiTranslate="home.subtitle">A camera visualizer for CEFET-MG</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div *ngSwitchCase="true">
                <ul>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'"><a routerLink="user-permission"><i class="fa fa-cog" aria-hidden="true"></i> <span jhiTranslate="home.link.permissions">User Permission</span></a></li>

                    <li><a routerLink="camera"><i class="fa fa-video-camera" aria-hidden="true"></i> <span jhiTranslate="home.link.cameras">Cameras</span></a></li>

                    <li><a routerLink="screen"><i class="fa fa-television" aria-hidden="true"></i> <span jhiTranslate="home.link.screens">Screens</span></a></li>
                </ul>
            </div>
            <div *ngSwitchCase="false">
                <a (click)="login()" id="login">
                    <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.account.login">Sign in</span>
                </a>
            </div><br />
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>

        </div>
    </div>
</div>
